<footer id="footer" class="footer" *ngIf="authService.user">
  <div class="" *ngIf="!authService.user.homeless">
    <a  [routerLink]="['/task']" class="grey">
      <i class="fa fa-tasks links" aria-hidden="true"></i>
      <span class="icon-text links">Chores</span>
    </a>
    <a  [routerLink]="['/shoplist']" class="gray">
        <i class="fa fa-shopping-basket links" aria-hidden="true"></i>
      <span class="icon-text links">ShopLists</span>
    </a>
    <a [routerLink]="['/debts']" class="gray">
        <i class="fa fa-money links" aria-hidden="true"></i>
      <span class="icon-text links">Debts</span>
    </a>
    <a  [routerLink]="['/profile']" class="gray">
      <i class="fa fa-user links" aria-hidden="true"></i>
      <span class="icon-text links">Profile</span>
    </a>
    <a (click)="logout()" class="gray">
      <i class="fa fa-sign-out links" aria-hidden="true"></i>
      <span class="icon-text links">Logout</span>
    </a>
  </div>
  <div *ngIf="!user" style="display:flex; justify-content:space-around;">
    <a [routerLink]="['/house-creator']" class="grey">
      <i class="fa fa-home links" aria-hidden="true"></i>
      <span class="icon-text links">House</span>
    </a>
    <a [routerLink]="['/house-invitations']" class="gray">
        <i class="fa fa-users links" aria-hidden="true" ></i>
      <span class="icon-text links">Invitations</span>
    </a>
    <a (click)="logout()" class="gray">
      <i class="fa fa-sign-out links" aria-hidden="true" ></i>
      <span class="icon-text links">Logout</span>
    </a>
  </div>
</footer>
