<div id="footer">
  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
  <div class="row" id="bottomNav">
    <div class="col-xs-3 text-center"><a href="#">
      <i style="margin-top: 3px;" class="glyphicon glyphicon-home"></i><br>Tasks</a>
    </div>
    <div class="col-xs-3 text-center"><a href="#">
      <i style="margin-top: 3px;" class="glyphicon glyphicon-th-list"></i><br>Shop Lists</a>
    </div>
    <div class="col-xs-3 text-center"><a href="#">
      <i style="margin-top: 3px;" class="glyphicon glyphicon-eur"></i><br>Debts</a>
    </div>
    <div class="col-xs-3 text-center"><a href="#">
      <i style="margin-top: 3px;" class="glyphicon glyphicon-user"></i><br>Profile</a>
    </div>
  </div>
  </div>
</div>
