<form (ngSubmit)="createHouse(house)" #loginForm="ngForm">
  <br><br>
    <legend>Create New House</legend>
    <div class="house-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Country" name="country" [(ngModel)]="house.country">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Location" name="location" [(ngModel)]="house.location">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Street" name="street" [(ngModel)]="house.street">
      </mat-form-field><br><br>
      <button mat-raised-button color="primary">Add</button>
    </div>


</form>
