<form (ngSubmit)="createHouse(house)" #loginForm="ngForm">
  <fieldset>
    <legend>Create New House</legend>
    <div>
      <label for="country">Country: </label>
      <input type="text" name="country" [(ngModel)]="house.country" required>
    </div>
    <div>
      <label for="location">Location: </label>
      <input type="text" name="location" [(ngModel)]="house.location" required>
    </div>
    <div>
      <label for="street">Street: </label>
      <input type="text" name="street" [(ngModel)]="house.street" required>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Add</button>
  </fieldset>
</form>
