<br>

<mat-form-field>
  <mat-select placeholder="Assigned Member" [(ngModel)]="selectedValue">
    <mat-option *ngFor="let user of members" [value]="user.id">
      {{user.username}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<div *ngFor="let task of tasks">
  <mat-card>
      {{task.name}}
      <div class="" style="margin-right:5px; text-align:right;">
        <button
          type="button" (click)="add(selectedValue, task._id)" name="button"
          mat-raised-button color="accent">
          Add
        </button>
      </div>
  </mat-card>

</div>
