<div wid class="shop-list" *ngIf="shopList" >
  <img width="120px;" style="margin:20px;" src="/assets/shopping-list-logo.png" alt="">
  <h4>{{shopList.owner.username}}</h4>
  <p>SHOP LIST</p>

  <mat-form-field >
   <input matInput type="text" placeholder="Search Product" [(ngModel)]="product"/>
   <button mat-button *ngIf="product"
    matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
     <mat-icon>close</mat-icon>
   </button>
  </mat-form-field>
  <button mat-button (click)="searchProduct()" data-toggle="modal" data-target="#myModal">
    Add New Product
  </button>

  <div class="" *ngFor="let portion of shopList.products">

      <mat-card class="example-card" style="background-color: #F2F2F2">
        <mat-card-header>
          <mat-card-title>{{portion.owner.username}} Portion</mat-card-title>
          <mat-card-subtitle>Total price {{portion.totalPrice}} €</mat-card-subtitle>
          <p class="status" *ngIf="!portion.status">
            Pending
            <i style="color:red" class="fa fa-question-circle-o links" aria-hidden="true"></i>
          </p>
          <p class="status" *ngIf="portion.status">
            Accepted
            <i style="color:green" class="fa fa-check-circle-o links" aria-hidden="true"></i>
          </p>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let product of portion.products">

              <!-- <p style="background-color: #E6E6E6;">{{product}}</p> -->
              <mat-card class="card">
                {{product[0]}}
                <p style="text-align:right; margin-right: 10px">{{product[1]}} €</p>
              </mat-card>
            </div>
        </mat-card-content>
        <mat-card-actions *ngIf="!portion.status && authService.user.id == shopList.owner.id
        && portion.owner.id !== authService.user.id">
          <button mat-raised-button color="accent" (click)="acceptPortion(shopList.owner, portion)">Accept</button>
          <button mat-raised-button color="warn" (click)="cancelPortion(portion._id)">Cancel</button>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" style="padding-bottom:20px">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <div class="" *ngIf="products">
            <div class="products" *ngFor="let prod of products; let i = index">
              <a (click)="addToPortion(prod)" data-toggle="modal" data-target="#myModal">
                <img width="50px" src="{{prod.img}}" alt="">{{prod.name}}  {{prod.price}} €
              </a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
