<div class="" *ngIf="shopList">
  <p>{{shopList.owner.id}}</p>
  <p>Creador: {{shopList.owner.username}}</p>
  <p>Created At: {{shopList.createdAt}}</p>
  <input type="text" name="" [(ngModel)]="product">
   <button (click)="searchProduct()" name="button">Search Product</button>
  <div class="" *ngIf="products">
    <div class="products" *ngFor="let prod of products; let i = index">
      <p>{{prod.name}}  {{prod.price}} €  <button (click)="addToPortion(prod)">ADD</button></p>
    </div>
  </div>
  <div class="" *ngFor="let portion of shopList.products">
    <div class="">
      <p>{{portion.owner.username}}</p>
      <p>{{authService.user.id}}</p>
      <div class="" *ngIf="!portion.status && authService.user.id == shopList.owner.id
      && portion.owner.id !== authService.user.id">
        <a class="btn btn-default">
          <span (click)="acceptPortion(shopList.owner, portion)" class="glyphicon glyphicon-ok-circle"></span>
        </a>
      </div>
      <ul>
        <li *ngFor="let product of portion.products">{{product}}</li>
      </ul>
    </div>
  </div>
</div>
