<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="debt-header">
        <div >
          To pay
          <p style="color:red">{{toPay}}€</p>
        </div>
        <div class="balance">
          Balance
          <p style="font-size: 1.75em;">{{balance}}€</p>
        </div>
        <div>
          To be Payed
          <p style="color:green">{{toBePayed}}€</p>
        </div>
      </div>
    </div>
</nav>


<div class="" style="padding-bottom:30px;">
  <button style="width: 100%; margin-top:10px; margin-bottom: 10px;"
  mat-raised-button color="accent" (click)="addNewShopList()">
    To Pay
  </button>
    <div class="to-pay">
      <div class="" *ngFor="let debt of activeDebts">

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Quantity: {{debt.quantity}} €</mat-card-title>
            <mat-card-subtitle>To: {{debt.creditor.username}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{debt.reason}}
            </p>
          </mat-card-content>
        </mat-card>


      </div>
      <div class="old-debts" *ngFor="let debt of oldDebts">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Quantity: {{debt.quantity}} €</mat-card-title>
            <mat-card-subtitle>To: {{debt.creditor.username}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{debt.reason}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <button style="width: 100%; margin-top:10px; margin-bottom: 10px;"
    mat-raised-button color="accent" (click)="addNewShopList()">
      To Be Payed
    </button>
    <div class="to-be-payed">

      <div class="" *ngFor="let debt of toBePayedDebts">
        <div class="" *ngIf="debt.status">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Quantity: {{debt.quantity}} €</mat-card-title>
              <mat-card-subtitle>To: {{debt.debtor.username}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{debt.reason}}
              </p>
            </mat-card-content>
            <mat-card-actions>
               <button (click)="confirmPaid(debt)" mat-raised-button color="accent">Confirm Payment</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
</div>
