.debt-header {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  color: grey;
}

p {
  text-align: center;
}

.contenido {
  display: flex;
  justify-content: center;
}

.to-pay, .to-be-payed {
  margin: 0 100px 0 100px;
}

.old-debts {
  color: grey;
}

span {
  color: green;
}

.example-card {
  margin-top: 12px;
}
