<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="debt-header">
        <div >
          To pay
          <p style="color:red">{{toPay}}€</p>
        </div>
        <div class="balance">
          Balance
          <p style="font-size: 1.75em;">{{balance}}€</p>
        </div>
        <div>
          To be Payed
          <p>{{toBePayed}}€</p>
        </div>
      </div>
    </div>
</nav>

<div class="">
    <div class="to-pay">
      <div class="" *ngFor="let debt of activeDebts">
        <p>{{debt.quantity}} €</p>
        <p>{{debt.creditor.username}}</p>
        <p>{{debt.createdAt}}</p>
      </div>
      <div class="old-debts" *ngFor="let debt of oldDebts">
        <p>{{debt.quantity}} €</p>
        <p>{{debt.creditor.username}}</p>
        <p>{{debt.createdAt}}</p>
      </div>
    </div>
    <div class="to-be-payed">
      <div class="" *ngFor="let debt of toBePayedDebts">
        <div class="" *ngIf="debt.status">
          <p>{{debt.quantity}} €</p>
          <p>{{debt.debtor.username}}</p>
          <p>{{debt.createdAt}}</p>
          <a class="btn btn-default">
            <span (click)="confirmPaid(debt)" class="glyphicon glyphicon-ok-circle"></span>
          </a>
        </div>
      </div>
    </div>
</div>
